* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 350px;
  min-height: 60vh;
  margin: 50px auto;
  overflow: hidden;
}

button {
  font-size: 1rem;
  border: 1px solid #333;
  cursor: pointer;
}

.modifiers_btn {
  background-color: rgb(175, 172, 172);
}

.operations_btn {
  background-color: orange;
  width: 70px;
}

.digits button {
  background-color: #efefef;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}

.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}

.show-input {
  grid-area: total;
  background-color: rgb(107, 63, 63);
  width: 95%;
}

.modifiers {
  grid-area: modif;
}

.operations {
  grid-area: oper;
}

.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 0 26%;
}